<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_postagens.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Postagens</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <div class="main-content">
        <h1>Postagens</h1>
        <section class="post-grid">
            <% postagens.forEach(postagem => { %>
                <article class="post">
                    <div class="img-container">
                        <img src="<%= postagem.imagemCapa %>" alt="<%= postagem.titulo %>" class="post_img">
                    </div>
                    <h2 class="post_titulo"><%= postagem.titulo %></h2>
                    <p class="post_descricao"><%= postagem.descricao %></p>
                    <p class="post_data">Postado em <%= postagem.data %> por <%= postagem.autor %></p>
                </article>
            <% }); %>
        </section>
    </div>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>